body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

input,
button {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

#downloadBtn {
    display: block;
    padding: 14px;
    background: green;
    text-align: center;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}